{{ define "content" }}

<div class="columns is-multiline">
    {{ range .Pages }} {{ $dir := .Dir }} {{ $feature := .Params.feature }} {{ $feature := replace $feature "/" "\\"}}

    <div class="column is-one-third">
        <a href="{{ .Permalink }}">
            <div class="card">
                <div class="card-image">

                    <figure class="image">
                        <img {{ printf "src=%q" (print $dir $feature) | safeHTMLAttr }} alt="{{.Title}}">
                    </figure>

                </div>
                <div class="card-header">
                    <div class="card-header-title is-centered">{{ .Title }}</div>
                </div>
            </div>
        </a>
    </div>
    {{ end }}
</div>
{{ end }}