<div class="header">
    <div class="container">
        <div class="columns is-multiline is-marginless">
            <div class="column has-text-centered-mobile is-paddingless">
                <div class="header-title">
                    <a class="" href="{{ .Site.BaseURL }}">{{ upper .Site.Title }}</a>
                </div>
            </div>
            <div class="column is-narrow" style="padding: 0">
                <div class="level is-mobile">
                    <div class="level-item">
                        <a class="" href="https://www.youtube.com/channel/UCfQfs3D8nTR2-8iBE3GhcSA" target="_blank">
                            <span class="icon is-xlarge" style="color: #c13f21">
                                <i class="fab fa-youtube fa-2x"></i>
                            </span>
                        </a>
                    </div>
                    <div class="level-item">
                        <a class="" href="https://gitlab.com/zhanj" target="_blank">
                            <span class="icon is-xlarge" style="color: #dda032">
                                <i class="fab fa-gitlab fa-2x"></i>
                            </span>
                        </a>
                    </div>
                    <div class="level-item">
                        <a class="" href="mailto:tommy.zhanj@gmail.com" target="_blank">
                            <span class="icon is-xlarge" style="color: #7a756f">
                                <i class="fas fa-envelope fa-2x"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>