<div class="header has-shadow">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column has-text-centered-mobile">
                <h1 class="title" style="position: relative; top: 50%; transform: translateY(-50%);">
                    <a class="has-text-primary" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
                </h1>
            </div>
            <div class="column is-narrow">
                <div class="level is-mobile">
                    <div class="level-item">
                        <a class="" href="https://gitlab.com/zhanj" target="_blank">
                            <span class="icon is-xlarge" style="color:orange">
                                <i class="fab fa-gitlab fa-3x"></i>
                            </span>
                        </a>
                    </div>
                    <div class="level-item">
                        <a class="" href="https://www.youtube.com/channel/UCfQfs3D8nTR2-8iBE3GhcSA" target="_blank">
                            <span class="icon is-xlarge" style="color:red">
                                <i class="fab fa-youtube fa-3x"></i>
                            </span>
                        </a>
                    </div>
                    <div class="level-item">
                        <a class="" href="mailto:tommy.zhanj@gmail.com" target="_blank">
                            <span class="icon is-xlarge" style="color:grey">
                                <i class="fas fa-envelope fa-3x"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <nav class="navbar has-shadow is-spaced" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <div class="navbar-item">
                <h1 class="title">
                    <a class="has-text-primary" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
                </h1>
            </div>
            <div class="navbar-item">
                <div class="navbar-item">
                    <a href="https://gitlab.com/zhanj" target="_blank">
                        <span class="icon is-large" style="font-size: 2em; color:orange">
                            <i class="fab fa-gitlab"></i>
                        </span>
                    </a>
                </div>
                <div class="navbar-item">
                    <a href="https://www.youtube.com/channel/UCfQfs3D8nTR2-8iBE3GhcSA" target="_blank">
                        <span class="icon is-large" style="font-size: 2em; color:red">
                            <i class="fab fa-youtube"></i>
                        </span>
                    </a>
                </div>
                <div class="navbar-item">
                    <a href="mailto:tommy.zhanj@gmail.com" target="_blank">
                        <span class="icon is-large" style="font-size: 2em; color:grey">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-menu is-active">
            <div class="navbar-start">

            </div>

            <div class="navbar-end">

            </div>
        </div>
    </div>
</nav> -->